@font-face {
    font-family: 'victor_mono';
    src: url('/assets/fonts/victormono-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/victormono-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'victor_mono';
    src: url('/assets/fonts/victormono-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/victormono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('/assets/fonts/nunito-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/nunito-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'nunito';
    src: url('/assets/fonts/nunito-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/nunito-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saira';
    src: url('/assets/fonts/saira-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('/assets/fonts/saira-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

pre {
  font-family: 'saira', monospace;
}

body {
  font-family: 'nunito', 'Times New Roman', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom { 
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer .copyright {
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-preview a {
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-preview .post-meta,
.post-heading .post-meta {
  font-family: 'saira', 'Times New Roman', serif;
}

.blog-tags {
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#full-tags-list {
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.intro-header.big-img .img-desc {
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pagination .page-item .page-link {
  font-family: 'saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}